RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php [QSA,L]

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "Origin,X-Requested-With,Content-Type,Accept,Authorization"
Header add Access-Control-Allow-Methods "GET,POST,OPTIONS,DELETE,PUT"